<title>quiz-app</title>

<head>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Roboto&display=swap');
  </style>

</head>

<body>
   <h1>Fishburne Military School Color Guard</h1>
<div class="img">
  <%= image_tag("cg.1.jpg") %>
</div>
<div class="intro col-10 offset-1">
  <p>
    <h3>The Fishburne military school color guard is an elite drill and ceremony unit. Which during my years on the team we performed for the orioles, nationals, Newday USA, and the presidents chapter dinner for AUSA. The colorguard has had the destinct honor of presenting the colors for AUSA's president during their annual dinner eight years now.</h3>
</body>