@import "bootstrap";

head {

}
h1 {
  color: red; 
  font-family: 'Oswald', sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
body {
  background-image: url(mosaic.png);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

.members-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #104ea1;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px;
}
h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}
.new_member {
   -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}
.member_name, .member_rank, .member_year {
  margin: 10px;
}
i {
  color: white;
}