<div class="members-box">
<% @members.each do |member| %>
  <div class="members-box col-8 offset-2">
  <h1><%= member.name %></h1><br />
  <i><%= member.rank %></i><br />
  <h4><%= member.year %></h4>
</div>
<% end %>